.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-style: none;
  overflow: hidden;
  border-radius: 10px;
}

.card__image {
  height: 282px;
  width: 282px;
  object-fit: cover;
}

.card__trash-button {
  position: absolute;
  background-image: url(../images/Trash.svg);
  margin-top: 15px;
  margin-left: 250px;
  width: 18px;
  height: 19px;
  border: none;
  padding: 0;
}

.card__trash-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card__description {
  display: flex;
  background: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
}

.card__like-button_active {
  background-image: url(../images/like-button-active.svg);
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 680px) {
  .card {
    display: flex;
  }

  .card__list {
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 100%;
  }
}
