.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  align-items: center;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__edit-button {
  background: transparent url(../images/Edit\ Button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  margin-left: 18px;
  margin-top: 15px;
  margin-bottom: 9px;
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__add-button {
  background: transparent url(../images/plus-sign.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border-color: #fff;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}
@media screen and (max-width: 1100px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding-top: 26.25px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    padding-top: 14px;
    max-width: 880px;
  }

  .profile__add-button {
    margin: 0;
    width: 92%;
    margin-right: auto;
    margin-top: 36px;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 680px) {
  .profile {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .profile__description {
    max-width: 500px;
    padding-bottom: 36px;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
    margin-left: auto;
  }
}

@media screen and (max-width: 480px) {
  .profile__title {
    font-size: 22px;
    max-width: 200px;
  }

  .profile__image {
    margin-right: 0;
  }

  .profile__description {
    padding-bottom: 36px;
    padding-top: 0;
    max-width: 440px;
    font-size: 14px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
}
