.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  padding: 0 19px;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 34px 36px;
  border-radius: 10px;
  position: relative;
  max-height: 100%;
}

.modal__close {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("../images/modal\ close.svg");
  background-color: transparent;
  background-size: contain;
  border: none;
}

.modal__heading {
  color: #000;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  margin-top: 0;
  margin-bottom: 50px;
}

.modal__form {
  max-width: 358px;
  border-top: 0;
}

.modal__input {
  color: #000;
  font-family: Inter, Arial, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: rgba(0, 0, 0, 0.2);
  width: 358px;
  border-width: 1px;
  opacity: 1;
  padding-top: 0;
  padding-bottom: 10.26px;
}

.modal__input_type_error {
  margin-top: 13px;
  margin-bottom: 0;
  border-color: #ff0000;
}

.modal__button {
  background-color: #000;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  width: 358px;
  height: 51px;
  margin-top: 13px;
  border-style: none;
  border-radius: 2px;
}

.modal__button:disabled {
  opacity: 0.8;
}

.modal__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal__image-container {
  position: relative;
  margin: auto;
}

.modal__image {
  width: 433px;
  height: 540px;
  max-width: 816px;
  max-height: 540px;
}

.modal__image-title {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 0;
}

.modal__error {
  color: #ff0000;
  font-size: 12px;
  font-weight: 400;
  font-family: "Inter";
  font-style: normal;
  display: block;
  min-height: 30px;
}

@media screen and (max-width: 630px) {
  .modal__close {
    width: 26px;
    height: 26px;
    left: calc(100% - 30px);
    bottom: calc(100% + 13.62px);
  }

  .modal__close_preview-image {
    width: 30px;
    height: 30px;
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
  }

  .modal__container {
    padding: 25px 22px;
  }

  .modal__heading {
    font-size: 18px;
    margin-bottom: 75px;
    width: 100%;
  }

  .modal__input {
    margin-bottom: 30px;
    width: 100%;
  }

  .modal__button {
    margin-top: 15px;
    font-size: 14px;
    width: 100%;
  }

  .modal__image {
    max-width: 330px;
    max-height: 400px;
  }
}

@media screen and (max-width: 400px) {
  .modal__button {
    padding: 0;
  }

  .modal__image {
    max-width: 240px;
    max-height: 299px;
  }
}
